<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>룸메이트</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
    </style>
  </head>
  <body layout:fragment="content" class="d-flex flex-column h-100 bg-light font-kor">
    <main class="flex-shrink-0">
      <section class="justify-content-center py-5">
        <aside class="col-3 bg-dark bg-gradient rounded-3 pt-4 px-3 me-3">
          <div class="my-5 filter-list text-white">
            <ul id="filter-condition">
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <form action="">
              <ul class="">
                <li>
                  활동 시간대
                  <div>
                    <input type="radio" name="active" id="morning" />
                    <label for="morning" class="form-check-label">아침형</label>&nbsp;&nbsp;
                    <input type="radio" name="active" id="evening" />
                    <label for="evening" class="form-check-label align">저녁형</label>
                  </div>
                </li>
                <li>
                  흡연 여부
                  <div>
                    <input type="radio" name="smoking" id="smoke-x" />
                    <label for="smoke-x" class="form-check-label">비흡연자</label>&nbsp;
                    <input type="radio" name="smoking" id="smoke-o" />
                    <label for="smoke-o" class="form-check-label">흡연자</label>
                  </div>
                </li>
                <li>
                  반려동물
                  <div>
                    <input type="radio" name="pet" id="pet-x" />
                    <label for="pet-x" class="form-check-label">없음</label>&nbsp;
                    <input type="radio" name="pet" id="pet-o" />
                    <label for="pet-o" class="form-check-label">있음</label>
                  </div>
                </li>
                <li>
                  잠버릇
                  <div class="">
                    <div>
                      <input class="" type="checkbox" id="habit-1" value="" />
                      <label class="" for="habit-1">코골이 제외</label>
                    </div>
                    <div>
                      <input class="" type="checkbox" id="habit-2" value="" />
                      <label class="" for="habit-2">이갈이 제외</label>
                    </div>
                    <div>
                      <input class="" type="checkbox" id="habit-3" value="" />
                      <label class="" for="habit-3">잠꼬대 제외</label>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="mt-4 d-flex justify-content-center">
                <button
                  type="reset"
                  class="btn btn-outline-warning"
                  onclick="location.href='roommate_home.html'"
                >
                  초기화
                </button>
                <button type="submit" class="ml-2 btn btn-outline-light">
                  조건 검색
                </button>
              </div>
            </form>
          </div>
        </aside>

        <div class="border-primary col-7 p-4 bg-white rounded-3">
          <h2 class="my-5 text-center font-eng">Roommate</h2>
          <div class="p-3">
            <table
              class="table table-hover text-center">
              <thead>
                <tr>
                  <th>번호</th>
                  <th>제목</th>
                  <th>글쓴이</th>
                  <th>작성일</th>
                </tr>
              </thead>
              <tbody>
<!--                <tr class="table-light" role="button">-->
<!--                  <td>13</td>-->
<!--                  <td class="text-start">-->
<!--                    <a href="/hollroom/roommate/detail"-->
<!--                       style="text-decoration: none; color: black">-->
<!--                      <span class="bg-primary rounded-3 px-1 text-white">MY</span>-->
<!--                      룸메이트 구해요-->
<!--                    </a>-->
<!--                  </td>-->
<!--                  <td>qwer</td>-->
<!--                  <td>6.19</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                  <td>0</td>-->
<!--                  <td>-->
<!--                    <span class="text-primary fw-bold">new</span>-->
<!--                    &nbsp;룸메이트 구해요~-->
<!--                  </td>-->
<!--                  <td>asdf</td>-->
<!--                  <td>오늘</td>-->
<!--                </tr>-->
<!--<span class="text-primary fw-bold" hidden>new</span>-->
<!--&nbsp;룸메이트 구해요-->
<!--                <tr>-->
<!--                  <td>9</td>-->
<!--                  <td>-->
<!--                    <a href="/hollroom/roommate/detail">-->
<!--                      룸메이트 구해요-->
<!--                    </a>-->
<!--                  </td>-->
<!--                  <td>9</td>&lt;!&ndash; 닉네임으로 수정!!! &ndash;&gt;-->
<!--                  <td>오늘</td>-->
<!--                </tr>-->
                <th:block th:each="board:${boardlist}">
                  <tr>
                    <td th:text="${board.roommate_id}"></td>
                    <td>
                      <a
                        th:text="${board.title}"
                        th:href="@{/roommate/detail(roommate_id=${board.roommate_id})}"
                        class="my-paging-a">
                      </a>
                    </td>
                    <td th:text="${board.user_nickname}"></td>
                    <td th:text="${#dates.format(board.created_at,'MM-dd')}"></td>
                  </tr>
                </th:block>
              </tbody>
            </table>

<!--            <div class="d-flex justify-content-center mb-5 my-paging">-->
<!--              <a href="#" class="">&#5130;</a>-->
<!--              <a href="#" class="">1</a>-->
<!--              <a href="#" class="">2</a>-->
<!--              <a href="#" class="">3</a>-->
<!--              <a href="#" class="">&#5125;</a>-->
<!--            </div>-->
            <div class="d-inline-block ">
              <div class="d-flex justify-content-end mx-auto">
                <select name="" id="" class="my-select rounded-2">
                  <option value="">제목 + 내용</option>
                  <option value="">제목</option>
                  <option value="">내용</option>
                  <option value="">작성자</option>
                </select>
                <input
                  class="ml-2 my-input-l"
                  type="text"
                  placeholder="검색어를 입력하세요"
                />
                <a class="ml-2" href="#"
                  ><img
                    src="assets/icon_search.png"
                    style="width: 23px; height: 23px"
                    alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
