<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>모집글 쓰기</title>
<!--    <link-->
<!--      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"-->
<!--      rel="stylesheet"-->
<!--    />-->

<!--    <link rel="preconnect" href="https://fonts.googleapis.com" />-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />-->
<!--    <link-->
<!--      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"-->
<!--      rel="stylesheet"-->
<!--    />-->

    <link rel="stylesheet" href="/hollroom/roommate/css/styles-2.css"/>
    <script th:inline="javascript">

      window.onload = function () {
        //document.querySelector("#floating-btn-register").hidden = true;
        const btnChangeTxt = document.querySelector("#btn-change-txt");
        btnChangeTxt.addEventListener("click", () => {
          const text = btnChangeTxt.innerText;
          if (text === "하루") {
            btnChangeTxt.innerText = "주";
          } else if (text === "주") {
            btnChangeTxt.innerText = "달";
          } else {
            btnChangeTxt.innerText = "하루";
          }
        });

        const mapping = /*[[${mapping}]]*/;
        let board = null;

        if (mapping == "edit") {
          const accessible = /*[[${accessible}]]*/;
          //alert(typeof accessible + " 타입의 " + accessible);
          if (!accessible) {
            alert("다른 이용자의 게시글은 수정할 수 없습니다");
            location.href = "/hollroom/roommate/home";
          }

          document.querySelector("#form").action = "/hollroom/roommate/edit";
          board = /*[[${board}]]*/;
          //alert(board.title);
          fillValuesForEdit(board.title, board.content, board.nocturnal, board.wakeup_at, board.alarm, board.sleep_at,
                      board.smoking, board.pet, board.cleaning_cycle, board.sleeping_habits, board.noise);
        } else {
          document.querySelector("#form").action = "/hollroom/roommate/register";
        }
      }
    </script>
  </head>
  <body layout:fragment="content" class="d-flex flex-column h-100 bg-light font-kor">

    <div class="floating-btn">
      <button
          th:onclick="|location.href='@{/chat/roomlist(userId=${session.USER_NICKNAME.id})}'|"
          class="floating-btn-3 btn btn-primary rounded-circle"
      >
        <span>&#9776;</span>
      </button>
    </div>

    <main class="flex-shrink-0">
      <section class="justify-content-center py-5">
        <div class="border-primary col-7 bg-white rounded-3">
          <div class="mb-5 content-margin">
            <h3 class="fw-bolder my-5 text-center text-primary font-kor-h">
              모집글 작성
            </h3>
            <hr class="mb-5 w-100" />
            <form
                novalidate
                id="form"
                method="post"
                onsubmit="return setValues();">
              <div class="d-flex justify-content-center filter-list">
                <ul id="write-ul-1">
                  <li>활동 시간대<span class="text-primary">*</span></li>
                  <li>
                    <label>기상 시간대<span class="text-primary">*</span></label>
                  </li>
                  <li>
                    <label>취침 시간대<span class="text-primary">*</span></label>
                  </li>
                  <li>
                    <div>기상 알람 개수</div>
                  </li>
                  <li>흡연 여부<span class="text-primary">*</span></li>
                  <li>반려동물<span class="text-primary">*</span></li>
                  <li>잠버릇<span class="text-primary">*</span></li>
                  <li>방 청소 주기</li>
                  <li>소음에 민감한 정도</li>
                </ul>
                <ul><!-- !!값 -->
                  <li>
                    <input type="number" name="id" th:value="${session.USER_NICKNAME.id}" hidden />
                    <input
                      type="text"
                      name="roommate_id"
                      th:if="${mapping == 'edit'}"
                      th:value="${board.roommate_id}"
                      hidden />
                    <input type="text" name="user_nickname" th:value="${session.USER_NICKNAME.UserNickname}" hidden />
                    <div>
                      <input type="radio" id="morning" name="nocturnal" value="N" required />
                      <label for="morning" class="form-check-label">
                        아침형
                      </label>&nbsp;&nbsp;
                      <input type="radio" id="evening" name="nocturnal" value="Y" required />
                      <label for="evening" class="form-check-label">
                        저녁형
                      </label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <select id="wakeup-from" class="my-select rounded-2" required>
                        <option value="">-</option>
                        <th:block th:each="num:${#numbers.sequence(0,9)}">
                          <option th:value="'0'+${num}" th:text="${num}"></option>
                        </th:block>
                        <th:block th:each="num:${#numbers.sequence(10,23)}">
                          <option th:value="${num}" th:text="${num}"></option>
                        </th:block>
                      </select>
                      <span>시에서&nbsp;</span>
                      <select id="wakeup-to" class="my-select rounded-2" required>
                        <option value="">-</option>
                        <th:block th:each="num:${#numbers.sequence(0,9)}">
                          <option th:value="'0'+${num}" th:text="${num}"></option>
                        </th:block>
                        <th:block th:each="num:${#numbers.sequence(10,23)}">
                          <option th:value="${num}" th:text="${num}"></option>
                        </th:block>
                      </select>
                      <span>시 사이</span>
                      <input type="text" id="wakeup-at" name="wakeup_at" hidden />
                    </div>
                  </li>
                  <li>
                    <div>
                      <select id="sleep-from" class="my-select rounded-2" size="1" required>
                        <option value="">-</option>
                        <th:block th:each="num:${#numbers.sequence(0,9)}">
                          <option th:value="'0'+${num}" th:text="${num}"></option>
                        </th:block>
                        <th:block th:each="num:${#numbers.sequence(10,23)}">
                          <option th:value="${num}" th:text="${num}"></option>
                        </th:block>
                      </select>
                      <span>시에서&nbsp;</span>
                      <select id="sleep-to" class="my-select rounded-2" size="1" required>
                        <option value="">-</option>
                        <th:block th:each="num:${#numbers.sequence(0,9)}">
                          <option th:value="'0'+${num}" th:text="${num}"></option>
                        </th:block>
                        <th:block th:each="num:${#numbers.sequence(10,23)}">
                          <option th:value="${num}" th:text="${num}"></option>
                        </th:block>
                      </select>
                      <span>시 사이</span>
                      <input type="text" id="sleep-at" name="sleep_at" hidden />
                    </div>
                  </li>
                  <li>
                    <div>
                      <input type="number" id="alarm" name="alarm" class="my-input-s" size="2" min="0" />
                      <span>개</span>
                    </div>
                  </li>
                  <li>
                    <div>
                      <input type="radio" id="notsmoke" name="smoking" value="N" required />
                      <label for="notsmoke" class="form-check-label">비흡연자</label>&nbsp;
                      <input type="radio" id="smoke" name="smoking" value="Y" required/>
                      <label for="smoke" class="form-check-label">흡연자</label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <input type="radio" id="no-pet" name="pet" value="N" required/>
                      <label for="no-pet" class="form-check-label">없음</label>&nbsp;
                      <input type="radio" id="has-pet" name="pet" value="Y" required/>
                      <label for="has-pet" class="form-check-label">있음</label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <input type="checkbox" id="habit-1" name="sleeping_habits" value="1" />
                      <label for="habit-1">코골이</label>&nbsp;&nbsp;
                      <input type="checkbox" id="habit-2" name="sleeping_habits" value="2" />
                      <label for="habit-2">이갈이</label>&nbsp;&nbsp;
                      <input type="checkbox" id="habit-3" name="sleeping_habits" value="3" />
                      <label for="habit-3">잠꼬대</label>&nbsp;&nbsp;
                      <input type="checkbox" id="habit-4" name="sleeping_habits" value="0" />
                      <label for="habit-4">잠버릇 없음</label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <button
                        type="button"
                        id="btn-change-txt"
                        class="my-btn btn btn-sm btn-outline-primary">
                        하루
                      </button>
                      <span>&nbsp;에&nbsp;</span>
                      <input type="number" id="cleaning" size="1" class="my-input-s" />
                      <span>번</span>
                      <input type="text" id="cleaning-cycle" name="cleaning_cycle" hidden />
                    </div>
                  </li>
                  <li>
                    <div class="">
                      <input
                        class=""
                        name="noise"
                        type="radio"
                        id="sensitive-2"
                        value="2"
                      />
                      <label class="" for="sensitive-2">민감한 편이다</label>&nbsp;&nbsp;
                      <input
                        class=""
                        name="noise"
                        type="radio"
                        id="sensitive-1"
                        value="1"
                      />
                      <label class="" for="sensitive-1">약간 신경쓴다</label>&nbsp;&nbsp;
                      <input
                        class=""
                        name="noise"
                        type="radio"
                        id="sensitive-0"
                        value="0"
                      />
                      <label class="" for="sensitive-0">둔감하다</label>&nbsp;&nbsp;
                    </div>
                  </li>
                </ul>
              </div>
              <hr class="mb-5" />
              <div class="d-flex flex-column align-items-center">
                <input
                  id="title"
                  type="text"
                  name="title"
                  size="60"
                  class="my-input-title"
                  placeholder="제목을 작성해주세요"
                  required
                />
                <textarea
                  id="content"
                  name="content"
                  class="mt-3 main-text"
                  maxlength="1000"
                  placeholder="본문을 1000자 이내로 작성해주세요"
                  required
                ></textarea>
              </div>
              <div class="mt-4 d-flex justify-content-center">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  onclick="location.href='/hollroom/roommate/home'"
                >
                  뒤로 가기
                </button>
                <input
                    type="submit"
                    class="ml-3 btn btn-outline-primary"
                    value="올리기" />
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
    <script src="/hollroom/roommate/js/script.js"></script>
  </body>
</html>
