<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>rmmt test</title>
</head>
<body layout:fragment="content">
    <div>
        <h1>룸메이트 테스트용</h1>
        <a href="/hollroom/roommate/jdbc/test">jdbc 테스트</a>
        <a href="/hollroom/roommate/mybatis/test">mybatis 테스트</a><br>

        <a href="/hollroom/roommate/home">home 페이지</a>
        <a href="/hollroom/roommate/edit">edit 페이지</a>
    </div>
<!--    <form action="/hollroom/roommate/chat/room" method="post">-->
<!--        내 아이디:<input type="number" name="sender" value="11">-->
<!--        상대 아이디:<input type="number" name="receiver" value="44">-->
<!--        방 번호:<input type="number" name="roomId" value="52">-->
<!--        <button type="submit">이동하기</button>-->
<!--    </form>-->
</body>
</html>