<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin_layout}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Community</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/hollroom/layout/assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" type="text/css" href="/hollroom/common/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/hollroom/mypage/css/styles-2.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body layout:fragment="content" style="z-index: 0">
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Community</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Community</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <table style="margin: 30px 10px">
                            <thead>
                            </thead>
                            <tbody>
                            <tr>
                                <th>
                                    <h5 class="" style="font-weight:bold; margin-right: 200px; color: #4d81cc">총 게시글 개수</h5>
                                    <h5 class="" style="font-weight: bold; margin-left: 10px" th:text="${totalCount}"></h5>

                                </th>
                                <th>
                                    <h5 class="" style="font-weight: bold; margin-right: 200px; color: #e59f4c">자유게시판</h5>
                                    <h5 class="" style="font-weight: bold; margin-left: 10px" th:text="${freeCount}"></h5>
                                </th>

                                <th>
                                    <h5 class="" style="font-weight: bold; margin-right: 200px; color: #e59f4c">질문</h5>
                                    <h5 class="" style="font-weight: bold; margin-left: 10px" th:text="${questionCount}"></h5>
                                </th>

                                <th>
                                    <h5 class="" style="font-weight: bold; margin-right: 200px; color: #e59f4c">꿀팁</h5>
                                    <h5 class="" style="font-weight: bold; margin-left: 10px" th:text="${tipCount}"></h5>
                                </th>

                                <th>
                                    <h5 class="" style="font-weight: bold; margin-right: 200px; color: #e59f4c">자취레시피</h5>
                                    <h5 class="" style="font-weight: bold; margin-left: 10px" th:text="${recipeCount}"></h5>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>카테고리</th>
                                <th>제목</th>
                                <th>내용</th>
                                <th>작성자</th>
                                <th>작성일</th>
                                <th>조회수</th>
                                <th>삭제</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="board : ${boardlist}">
                                <td th:text="${board.post_Id}"></td>
                                <td th:text="${board.category}"></td>
                                <td class="title-limit">
                                    <a th:text="${board.title}" th:href="@{/community/read(postId=${board.post_Id}, action='READ')}"></a>
                                </td>
                                <td class="write-limit" th:text="${board.content}"></td>
                                <td th:text="${board.user_Nickname}"></td>
                                <td th:text="${#dates.format(board.created_At, 'yyyy-MM-dd')}"></td>
                                <td th:text="${board.view_Count}"></td>
                                <td>
                                    <span th:if="${board.deleted_At != null}" th:type="button"
                                          th:text="${#dates.format(board.deleted_At, 'yyyy-MM-dd')}"
                                          th:onclick="'deletePostCancel(' + ${board.post_Id} + ')'"></span>
                                    <button th:if="${board.deleted_At == null}" type="button" class="btn btn-danger"
                                            style="font-size:16px; padding: 0 5px; height: 25px; width: 25px; background-color: black; font-weight: bold"
                                            th:onclick="'deletePost(' + ${board.post_Id} + ')'">X</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<script>
    function deletePost(postId) {
        if (confirm("정말로 삭제하시겠습니까?\n게시물 번호 : "+postId)) {
            fetch(`/hollroom/admin/community_deleted`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `postId=${postId}`
            })
                .then(response => {
                    return response.text().then(text => ({ status: response.status, text })); // 응답 텍스트 확인
                })
                .then(({ status, text }) => {
                    if (status === 200) {
                        alert(text);
                        location.reload();
                    } else {
                        alert('삭제에 실패했습니다. ' + text);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('삭제 중 오류가 발생했습니다.');
                });
        }
    }

    function deletePostCancel(postId) {
        if (confirm("삭제를 취소하시겠습니까?\n게시물 번호 : "+postId)) {
            fetch(`/hollroom/admin/community_delete_cancel`, { // 절대 경로로 변경
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `postId=${postId}`
            })
                .then(response => {
                    return response.text().then(text => ({ status: response.status, text })); // 응답 텍스트 확인
                })
                .then(({ status, text }) => {
                    if (status === 200) {
                        alert(text);
                        location.reload();
                    } else {
                        alert('취소에 실패했습니다. ' + text);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('삭제취소 중 오류가 발생했습니다.');
                });
        }
    }
</script>

<!-- Vendor JS Files -->
<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/chart.js/chart.umd.js"></script>
<script src="assets/vendor/echarts/echarts.min.js"></script>
<script src="assets/vendor/quill/quill.js"></script>
<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="assets/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<!-- Template Main JS File -->

</body>
</html>