<div th:fragment="productList">
    <ul>
        <li class="product-box" th:each="product : ${productList}" style="display: flex">
            <div class="horizontal-center">
                <img style="width: 180px; height: 130px; margin-left: 10px; margin-right: 10px" th:src="@{/imageload/}+${product.roomImg}"/>
            </div>
            <div >
                <h4 th:text="|월세 ${product.deposit}/${product.monthly}|"></h4>
                <div>
                    <span th:text="|${product.pyeongCount}평|">평수</span>
                    <span th:text="|${product.floorCount}층|">층수</span>
                    <span th:text="|방 ${product.roomCount}개|">방수</span>
                    <span th:text="|${product.bayCount}베이|">창수</span>
                </div>
                <p>
                    <span th:text="${product.roomOption}">옵션</span>
                    <span th:text="${product.securityFacility}">보안시설</span>
                </p>
                <div>주소</div>
                <div>태그</div>
            </div>
        </li>
    </ul>
</div>