<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>

    </script>
</head>
<body>
    <div th:fragment="productList">
        <ul>
           <li th:each="product : ${productList}" style="display: flex">
               <div style="height: 90%;">
                   이미지
               </div>
               <div>
                   <p th:text="|${product.deposit}/${product.monthly}|"></p>
                   <p>
                       <span th:text="|${product.pyeongCount}평|">평수</span>
                       <span th:text="|${product.floorCount}층|">층수</span>
                       <span th:text="|방 ${product.roomCount}개|">방수</span>
                       <span th:text="|${product.bayCount}베이|">창수</span>
                   </p>
                   <p>
                       <span th:text="${product.roomOption}">옵션</span>
                       <span th:text="${product.securityFacility}">보안시설</span>
                   </p>
                   <p>주소</p>
                   <p>태그</p>
               </div>
           </li>
        </ul>
    </div>
</body>
</html>