<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=1440, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/hollroom/mypage/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/hollroom/mypage/css/styleguide.css"/>
    <link rel="stylesheet" type="text/css" href="/hollroom/mypage/css/globals.css"/>
    <link rel="stylesheet" type="text/css" href="/hollroom/mypage/css/profile_shape.css"/>
    <link rel="stylesheet" type="text/css" href="/hollroom/mypage/css/styles-2.css"/>
    <link rel="stylesheet" type="text/css" href="/hollroom/mypage/css/profile_inquiry.css"/>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
    </style>
    <script src="js/inquiry_detail.js" ></script>
</head>
<body class="d-flex flex-column font-kor">
<main class="flex-shrink-0">
    <div layout:fragment="content">
        <section class="py-5 flex-row-5">
            <div class="container px-5 d-flex">
                <aside class="col-3 bg-dark bg-gradient rounded-3 pt-4 px-3 me-3 content3">
                    <div class="my-5 filter-list text-white">
                        <h2 class="text-center mb-4" style="font-size: 1.5em; font-weight: bold;">마이페이지</h2>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-menu" href="/hollroom/mypage/profile">
                                    <i class="bi bi-person-circle"></i> 마이프로필
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-menu"
                                   href="/hollroom/mypage/mywrite?category=all&page=0">
                                    <i class="bi bi-pencil-square"></i> 내가 쓴 글
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-menu active"
                                   href="/hollroom/mypage/inquiry?category=all&page=0">
                                    <i class="bi bi-question-circle"></i> 문의하기
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-menu" href="/hollroom/mypage/withdrawal">
                                    <i class="bi bi-x-circle"></i> 회원탈퇴
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>

                <div class="border-primary col-7 p-4 bg-white rounded-3">
                    <div class="p-3">
                        <div class="mb-5">
                            <hr class="mb-5 w-100"/>
                            <form id="upload-form" enctype="multipart/form-data">
                                <div class="d-flex filter-list" style="margin-left: 8%">
                                    <ul id="write-ul-1" class="mt-2">
                                        <li>첨부 파일</li>
                                    </ul>
                                    <input type="hidden" id="post-id" th:value="${inquiry.getPostId()}"/>
                                    <!--첨부 파일 목록-->
                                    <ul id="file-list" name="file-list" class="mt-2">
                                        <li th:each="file : ${inquiry.files}">
                                            <a th:href="'http://175.45.205.226:8090/hollroom/imageload/'+${file.fileStoreName}" th:text="${file.fileOriginalName}"></a>
                                        </li>
                                    </ul>
                                </div>
                                <hr class="mb-5 w-100"/>
                                <div class="d-flex flex-column align-items-center">
                                    <div id="title" name="title" class="my-input-title"
                                         th:text="${inquiry.getTitle()}" readonly></div>
                                    <textarea id="content" name="content" class="mt-3 main-text"
                                              th:text="${inquiry.getContent()}" readonly></textarea>
                                    <input type="hidden" id="category" name="category" value="문의"/>
                                </div>
                                <!--답글 위치-->
                                <div class="d-flex flex-column align-items-center" th:if="${inquiry.getAnswerContent() != null}">
                                    <div id="answerTitle" name="title" class="my-input-title" style="background-color: white; margin-top: 20px"
                                        readonly>고객센터 답변</div>
                                    <textarea id="answerContent" name="content" class="mt-3 main-text"
                                              th:text="${inquiry.getAnswerContent()}" readonly></textarea>
                                </div>

                                <div class="mt-4 d-flex justify-content-center">
                                    <button type="button" class="btn btn-outline-danger"
                                            onclick="location.href='/hollroom/mypage/inquiry?category=all&page=0'">뒤로 가기
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
</body>
</html>
