<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=1440, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="css/styleguide.css"/>
    <link rel="stylesheet" type="text/css" href="css/globals.css"/>
    <link rel="stylesheet" type="text/css" href="css/profile_shape.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles-2.css"/>
    <link rel="stylesheet" type="text/css" href="css/profile_inquiry.css"/>
    <script src="js/inquiry_write.js" ></script>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
    </style>
</head>
<body class="d-flex flex-column font-kor">
<main class="flex-shrink-0">
    <div layout:fragment="content">
        <section class="py-5 flex-row-5">
            <div class="container px-5 d-flex">
                <aside class="col-3 bg-dark bg-gradient rounded-3 pt-4 px-3 me-3 content3">
                    <div class="my-5 filter-list text-white">
                        <h2 class="text-center mb-4" style="font-size: 1.5em; font-weight: bold;">마이페이지</h2>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-menu" href="profile">
                                    <i class="bi bi-person-circle"></i> 마이프로필
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-menu" href="mywrite?category=all&page=0">
                                    <i class="bi bi-pencil-square"></i> 내가 쓴 글
                                </a>
                            </li>
                            <!--<li class="nav-item">
                                <a class="nav-menu" href="interest?category=all&page=0">
                                    <i class="bi bi-bookmark-heart"></i> 즐겨찾기
                                </a>
                            </li>-->
                            <li class="nav-item">
                                <a class="nav-menu active" href="inquiry?category=all&page=0">
                                    <i class="bi bi-question-circle"></i> 문의하기
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-menu" href="withdrawal">
                                    <i class="bi bi-x-circle"></i> 회원탈퇴
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>

                <div class="border-primary col-7 p-4 bg-white rounded-3">
                    <div class="p-3">
                        <div class="mb-5">
                            <hr class="mb-5 w-100"/>
                            <form id="upload-form" enctype="multipart/form-data">
                                <div class="d-flex justify-content-center filter-list">
                                    <ul id="write-ul-1">
                                        <li>이메일<span class="text-primary">*</span></li>
                                        <br>
                                        <li><label>파일 첨부</label></li>
                                    </ul>
                                    <ul name="!!값">
                                        <li style="width: 500px">
                                            <input type="text" class="rectangle-41 form-control" th:value="${profile.userEmail}"/>
                                        </li>
                                        <br>
                                        <li>
                                            <input type="file" id="file-input" data-tabtype="03" class="rectangle-41 form-control" multiple style="display:none"/>
                                            <button type="button" class="btn btn-outline-primary" onclick="document.getElementById('file-input').click();">파일 선택</button>
                                        </li>
                                        <div id="file-list" class="mt-2"></div>
                                    </ul>
                                </div>
                                <hr class="mb-5 w-100"/>
                                <div class="d-flex flex-column align-items-center">
                                    <input type="text" id="title" name="title" size="60" class="my-input-title" placeholder="제목을 작성해주세요" required/>
                                    <textarea id="content" name="content" class="mt-3 main-text" maxlength="1000" placeholder="본문을 1000자 이내로 작성해주세요" required></textarea>
                                    <input type="hidden" id="category" name="category" value="문의"/>
                                </div>
                                <div class="mt-4 d-flex justify-content-center">
                                    <button type="button" class="btn btn-outline-danger" onclick="location.href='/hollroom/mypage/inquiry?category=all&page=0'">뒤로 가기</button>
                                    <button id="upload-button" type="button" class="ml-3 btn btn-outline-primary">올리기</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
</body>
</html>