<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Modern Business - Start Bootstrap Template</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
     <!--Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/styleguide.css"/>
    <link rel="stylesheet" type="text/css" href="css/globals.css"/>
    <link rel="stylesheet" type="text/css" href="css/profile_profile.css"/>
    <link rel="stylesheet" type="text/css" href="css/profile_shape.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles-2.css"/>

    <!--js-->
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a3660f8de5e77b73f4c7822adeb86bec&libraries=services"></script>
    <script src="js/profile_geolocation.js"></script>
    <script src="js/profile.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
    </style>
</head>
<body class="d-flex flex-column font-kor">
<main class="flex-shrink-0">
    <div layout:fragment="content">
        <!-- Page content-->
        <section class="py-5 flex-row-5">
            <div class="container px-5 d-flex">
                <!-- 메뉴 -->
                <!--<div class="main-content bg-light rounded-3 py-5 px-4 px-md-5 mb-5">-->
                <aside class="col-3 bg-dark bg-gradient rounded-3 pt-4 px-3 me-3 content3">
                    <div class="my-5 filter-list text-white">
                        <h2 class="text-center mb-4" style="font-size: 1.5em; font-weight: bold;">마이페이지</h2>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-menu active" href="profile">
                                    <i class="bi bi-person-circle"></i> 마이프로필
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-menu" href="mywrite?category=all&page=0">
                                    <i class="bi bi-pencil-square"></i> 내가 쓴 글
                                </a>
                            </li>
                            <!--<li class="nav-item">
                                <a class="nav-menu" href="interest?category=all&page=0">
                                    <i class="bi bi-bookmark-heart"></i> 즐겨찾기
                                </a>
                            </li>-->
                            <li class="nav-item">
                                <a class="nav-menu" href="inquiry?category=all&page=0">
                                    <i class="bi bi-question-circle"></i> 문의하기
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-menu" href="withdrawal">
                                    <i class="bi bi-x-circle"></i> 회원탈퇴
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>

                <!-- 컨텐츠-->
                <div class="border-primary col-7 p-4 bg-white rounded-3">
                    <div class="p-3">
                        <div class="d-inline-block">
                            <div class="d-flex justify-content-end mx-auto">
                                <div class="p-3 container-center-horizontal profile_profile screen border rounded p-3 text-box">
                                    <!--프로필 카드-->
                                    <div class="content1">
                                        <h2 class="my-5 font-eng" style="font-size: 40px">
                                            M<span style="color: #0d6efd;">y</span>P<span style="color: #0d6efd;">ro</span>fil<span style="color: #0d6efd;">e</span>
                                        </h2>
                                        <!--사진-->
                                        <img class="ecllipse-1 clickable-box" id="profileImage"
                                             onclick="triggerFileUpload()"
                                             th:src="${(profile.userImage != null) ? profile.userImage : 'img/no_images.png'}">
                                        <input type="file" id="fileInput" style="display:none"
                                               onchange="previewImage(event)">
                                        <!--닉네임-->
                                        <p class="text-39" th:text="${profile.userNickname}"></p>
                                        <!--자기소개-->
                                        <div class="flex-row-5 im-web-designer-i">
                                            <div id="userInfoText"
                                                 th:text="${profile.userIntroduce != null ? profile.userIntroduce : '자기소개를 작성해보세요!'}"></div>
                                            <textarea id="userInfoInput" rows="4" style="display:none;"
                                                      th:value="${profile.userIntroduce != null ? profile.userIntroduce : '자기소개를 작성해보세요!'}"></textarea>
                                            <button id="editButton" onclick="enableEditUserInfo()">✏️</button>
                                            <button id="info_saveButton" onclick="saveUserInfo()"
                                                    style="display:none;">확인
                                            </button>
                                        </div>
                                        <!--거주지역-->
                                        <div class="uzbekistan-tashkent" th:text="${profile.userLocation}"></div>
                                    </div>

                                    <!--경계선-->
                                    <div class="rectangle-14"></div>


                                    <!--상세정보-->
                                    <div class="content2">
                                        <div class="overlap-group5">
                                            <div class="flex-row">
                                                <div class="basic-info">상세 정보</div>
                                                <div class="overlap-group1 clickable-box flex-row-5"
                                                     onclick="resetPage()">
                                                    <div class="rectangle-22" id="cancelButton">
                                                        <div class="text-31">취 소</div>
                                                    </div>
                                                    <div class="rectangle-23 clickable-box" id="saveButton">
                                                        <div class="text-3">저 장</div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="rectangle-21"></div>
                                            <div class="flex-row-1 flex-row-5">
                                                <div class="flex-col abeezee-normal-black-14px">
                                                    <div class="text-28 flex-row-5" style="width: 300px">
                                                        닉네임
                                                       <button type="button" id="checkNicknameButton" class="btn btn-outline-secondary address-search-button"
                                                               th:if="${profile.userNickname == null}" style="margin-top:0; margin-right: 7px; padding-top: 1px; padding-bottom: 1px;">중복 확인</button>
                                                        <p id="nicknameCheckResult"></p>

                                                    </div>
                                                    <input type="text" class="rectangle-9 form-control"
                                                           th:value="${profile.userNickname}" th:if="${profile.userNickname != null}" readonly/>
                                                    <input type="text" class="rectangle-9 form-control" id="userNickName" style="border-color: #dc3545"
                                                           th:if="${profile.userNickname == null}" placeholder="닉네임을 입력하세요"/>
                                                    <div class="text-27">이메일</div>
                                                </div>
                                                <!--실명-->
                                                <div class="flex-col-1">
                                                    <div class="text-30 abeezee-normal-black-14px">실 명</div>
                                                    <input type="text" class="rectangle-18 form-control" id="username"
                                                           th:value="${profile.userName}" th:if="${profile.userName != null}" readonly
                                                           onload="maskName()"/>
                                                    <input id="realname" type="text" class="rectangle-18 form-control" style="border-color: #dc3545"
                                                           th:if="${profile.userName == null}" placeholder="실명을 입력하세요"/>
                                                </div>
                                            </div>
                                            <input id="email" type="text" class="rectangle-16 form-control"
                                                   th:value="${profile.userEmail}" readonly onload="maskEmail()"/>
                                            <div class="text-container abeezee-normal-black-14px">
                                                <div class="text">비밀번호</div>
                                                <div class="text-26">비밀번호 확인</div>
                                            </div>
                                            <div class="flex-row-2 flex-row-5">
                                                <input type="password" class="rectangle form-control" id="password"/>
                                                <input type="password" class="rectangle form-control"
                                                       id="confirmPasswordInput"/>
                                            </div>
                                            <div class="text-container-1 abeezee-normal-black-14px">
                                                <div class="text">생년월일</div>
                                                <div class="text">성별</div>
                                            </div>
                                            <div class="flex-row-3 flex-row-5">
                                                <!--생년월일-->
                                                <input type="date" class="rectangle form-control"
                                                       th:value="${profile.userBirthday != null ? #dates.format(profile.userBirthday, 'yyyy-MM-dd') : ''}"
                                                       th:if="${profile.userBirthday != null}" readonly />
                                                <input type="date" class="rectangle form-control" id="birthday" style="border-color: #dc3545"
                                                       th:if="${profile.userBirthday == null}" placeholder="생년월일을 입력하세요" />

                                                <!--성별-->
                                                <input type="text" class="rectangle-27 form-control"
                                                       th:value="${profile.userGender == 'M' ? '남' : (profile.userGender == 'W' ? '여' : '')}"
                                                       th:if="${profile.userGender != null}" readonly />
                                                <select class="rectangle-27 form-control" id="gender" style="border-color: #dc3545"
                                                        th:if="${profile.userGender == null}">
                                                    <option value="">성별</option>
                                                    <option value="M">남</option>
                                                    <option value="W">여</option>
                                                </select>
                                            </div>

                                            <!-- 휴대폰 번호 -->
                                            <div class="text-container-1 abeezee-normal-black-14px">
                                                <div class="text flex-row-5" style="width: 350px" >
                                                    휴대폰 번호
                                                    <button type="button" id="checkPhoneNumButton" class="btn btn-outline-secondary address-search-button"
                                                            th:if="${profile.userPhoneNumber == null}" style="margin-top:0; margin-right: 7px; padding-top: 1px; padding-bottom: 1px;">중복 확인</button>
                                                    <p id="phoneNumCheckResult"></p>
                                                </div>
                                            </div>
                                            <div class="flex-row-3 flex-row-5">
                                                <input type="text" class="rectangle form-control" id="userPhoneNumberMasked"
                                                       th:value="${profile.userPhoneNumber}" th:if="${profile.userPhoneNumber != null}" readonly/>
                                                <input type="text" class="rectangle form-control" id="phoneNumberInput" style="border-color: #dc3545"
                                                       th:if = "${profile.userPhoneNumber == null}" placeholder="휴대폰 번호를 입력하세요 ( - 포함)"/>
                                            </div>

                                            <div class="flex-row-4 flex-row-5">
                                                <div class="basic-info">지역 정보</div>
                                            </div>
                                            <div class="rectangle-21"></div>
                                            <div class="flex-row-5">
                                                <div id="map" class="rectangle-31">
                                                    <div id="centerAddr"></div>
                                                </div>
                                                <div>
                                                    <div class="flex-row-5">
                                                        <div class="text-36 abeezee-normal-black-14px">거주지역</div>
                                                        <input type="button" id="address_search"
                                                               class="address-search-button"
                                                               onclick="AddressSearch()" value="주소검색">
                                                    </div>
                                                    <input type="text" class="rectangle-30 form-control" id="userLocal"
                                                           th:value="${profile.userLocation}" placeholder="주소를 검색해주세요"
                                                           readonly/>

                                                </div>

                                                <input type="hidden" id="userId" th:value="${profile.userEmail}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>