<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>HOLLROOM</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="http://localhost:8090/hollroom/layout/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="/hollroom/common/css/styles.css"  />
        <link rel="stylesheet" href="/hollroom/roommate/css/styles-2.css" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="index.html">홀룸</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="#home">홈</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/monthly}">월세지도</a></li>
                            <li class="nav-item"><a class="nav-link" href="/hollroom/roommate/home">룸메이트</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#community" role="button" data-bs-toggle="dropdown" aria-expanded="false">커뮤니티</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="/hollroom/community/list?category=all&page=0">자유 게시판</a></li>
                                    <li><a class="dropdown-item" href="#withorder">함께주문</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/hollroom/mypage/profile">마이페이지</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="floating-btn">
                <button
                        id="floating-btn-top"
                        onclick="scrollToTop()"
                        class="btn btn-primary rounded-circle"
                >
                    <span>&#11121;</span>
                </button>
                <button
                        id="floating-btn-chat"
                        onclick="location.href='#'"
                        class="btn btn-primary rounded-circle"
                >
                    <span>&#9776;</span>
                </button>
                <button
                        id="floating-btn-write"
                        onclick="location.href='/hollroom/roommate/register'"
                        class="btn btn-primary rounded-circle"
                >
                    <span>&#128393;</span>
                </button>
            </div>


            <th:block layout:fragment="content"></th:block>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2023</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/hollroom/roommate/js/script.js"></script>
    </body>
</html>
