<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HollRoom Community</title>
  <!--<link rel="stylesheet" type="text/css" href="/hollroom/mypage/css/styles-2.css"/>-->
  <link rel="stylesheet" href="/hollroom/common/css/styles_list.css" />
  <!--<link rel="stylesheet" type="text/css" href="/hollroom/common/css/styles.css"  />-->


  <script
          src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script type="text/javascript" th:inline="javascript">
    let category = /*[[${category}]]*/

    $(document).ready(function (){
      $("#category").val(category).attr("selected","selected");
      $("#category").change(function (){
        location.href="/hollroom/community/list?category="+$(this).val()+"&page=0"
      });

    });


  </script>
</head>

<body>
<div layout:fragment="content" style="background-color: white;" >
  <!--  Body Wrapper -->



    <!--<div style="margin: 100px;">ffff</div>-->
    <div style="margin: auto; width: 867px; padding: 40px; border:0.1px #0d6efd solid; border-radius: 1%; padding-top: 20px; margin-top: 20px; margin-bottom: 20px;">
      <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
           data-sidebar-position="fixed" data-header-position="fixed" style="width:800px; height: 900px; padding:0px;">
        <div style="width:600px;">
          <form action="/hollroom/community/search" method="get">
            <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
              <div>
                <select class="my-select rounded-2" id= "category" name="category" ><!--class="form-select"-->
                  <option value="all">전체</option>
                  <option value="자유">자유</option>
                  <option value="꿀팁">꿀팁</option>
                  <option value="질문">질문</option>
                  <option value="자취레시피">자취레시피</option>
                </select>
                <input type="hidden" name="fieldOption" value="title">
                <input type="hidden" name="page" value="0">
                <input type="text" placeholder="제목" name="search" class="ml-2 my-input-l" style="height: 32px;"/> <input type="submit" class="btn btn-primary" value="검색"
                                                                                                                         style="width: 60px; height: 35px;">
              </div>
            </div>
          </form>
        </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div><!--class="card w-100"-->
              <div class="card-body p-4" style="border: #f2f2f2 solid 0.1px; border-radius: 1%; height: 880px; width: 780px;">
                <h5 style="font-family: 'CWDangamAsac-Bold', sans-serif; font-size: 2.2em">Community</h5><!--class="card-title fw-semibold mb-4" -->
                <div class="table-responsive">
                  <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">글번호</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">작성자</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">제목</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">카테고리</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">날짜</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">조회수</h6>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="commuBoard:${topList}" th:if="${topList!=null}">
                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0" th:text="${commuBoard.postId}" style="color: #ec0c38"></h6></td>
                        <td class="border-bottom-0">
                          <h6 class="fw-semibold mb-1" th:text="${commuBoard.userNickname}"></h6>
                          <span class="fw-normal"></span>
                        </td>
                        <td class="border-bottom-0"><a th:href="@{/community/read(postId=${commuBoard.postId},action='READ')}"
                                                       style="text-decoration: none;">
                          <p class="mb-0 fw-normal" th:text="'[인기글]'+${commuBoard.title}"></p>
                        </a>
                        </td>
                        <td class="border-bottom-0">
                          <div class="d-flex align-items-center gap-2">
                            <span th:text="${commuBoard.category}"></span>
                          </div>
                        </td>
                        <td class="border-bottom-0">
                          <h6 class="fw-semibold mb-0 fs-4" th:text="${#dates.format(commuBoard.updatedAt, 'yyyy-MM-dd')}"></h6>
                        </td>
                        <td class="border-bottom-0">
                          <h6 class="fw-semibold mb-0 fs-4" th:text="${commuBoard.viewCount}" style="color: #ec0c38"></h6>
                        </td>
                      </tr>

                      <!--기존 목록-->
                      <tr th:each="commuBoard:${communityList.communityResponseDTOList}">
                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0" th:text="${commuBoard.postId}"></h6></td>
                        <td class="border-bottom-0">
                            <h6 class="fw-semibold mb-1" th:text="${commuBoard.userNickname}"></h6>
                            <span class="fw-normal"></span>
                        </td>
                        <td class="border-bottom-0"><a th:href="@{/community/read(postId=${commuBoard.postId},action='READ')}"
                        style="text-decoration: none;">
                          <p class="mb-0 fw-normal" th:text="${commuBoard.title}"></p>
                        </a>
                        </td>
                        <td class="border-bottom-0">
                          <div class="d-flex align-items-center gap-2">
                            <span th:text="${commuBoard.category}"></span>
                          </div>
                        </td>
                        <td class="border-bottom-0">
                          <h6 class="fw-semibold mb-0 fs-4" th:text="${#dates.format(commuBoard.updatedAt, 'yyyy-MM-dd')}"></h6>
                        </td>
                        <td class="border-bottom-0">
                          <h6 class="fw-semibold mb-0 fs-4" th:text="${commuBoard.viewCount}" ></h6>
                        </td>
                        <td class="border-bottom-0" >
                          <h6 class="fw-semibold mb-0 fs-4"></h6>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                    <!--페이징 처리 시 필요한-->
                  <table class="table text-nowrap mb-0 align-middle">
                    <tr th:if="${communityList.totalPages !=0}">
                      <td class="border-bottom-0"></td>
                      <td class="border-bottom-0"></td>
                      <td class="border-bottom-0">
                        <div class="col-12 pb-1" >
                          <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center mb-3">
                              <li th:class="${communityList.firstPage} ? 'page-item disabled' : 'page-item'">
                                <a class="page-link" th:href="${communityList.firstPage} ? '#' : @{/community/list(category=${category},page=${communityList.nowPageNumber -1})}" aria-label="Previous">
                                  <span class="sr-only">Previous</span>
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                              </li>
                              <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                                  th:class="${page==communityList.nowPageNumber+1} ? 'page-item active'" class="page-item">
                                <a class="page-link" th:text="${page}" th:href="@{/community/list(category=${category},page=${page -1})}"></a>
                              </li>

                              <li th:class="${communityList.lastPage} ? 'page-item disabled' : 'page-item'">
                                <a class="page-link" th:href="${communityList.lastPage} ? '#' : @{/community/list(category=${category},page=${communityList.nowPageNumber + 1})}" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                        </div>
                      </td>
                      <td class="border-bottom-0"></td>
                      <td class="border-bottom-0"></td>
                      <td class="border-bottom-0"></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
    </div>
      <div style="width: 80px; height: 20px; font-size: large; color: #0b5ed7; margin-left: 5px;">
        <ul>
          <li><a href="/hollroom/community/write" class="page-link" th:if="${session.USER_NICKNAME!=null}">Write</a></li>
        </ul>
      </div>
        </div>


</div>
</body>

</html>