<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HollRoom Community</title>
  <link rel="stylesheet" href="/hollroom/common/css/styles_list.css" />

  <script
          src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script type="text/javascript" th:inline="javascript">
    let category = /*[[${category}]]*/

    $(document).ready(function (){
      $("#category").val(category).attr("selected","selected");

    });


  </script>
</head>

<body>
<div layout:fragment="content" style="background-color: #cfe2ff;" >
  <!--  Body Wrapper -->


  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div style="margin-left: 25%">
    <form action="/hollroom/community/search" method="post">
      <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
        <div>
          <input type="text" name="search" /> <input type="submit" value="검색">

          <select class="form-select" id= "category" name="category" style="background-color: white">
            <option value="all">전체</option>
            <option value="자유">자유</option>
            <option value="꿀팁">꿀팁</option>
            <option value="질문">질문</option>
            <option value="자취레시피">자취레시피</option>
          </select>
        </div>
      </div>
    </form>
    </div>
    <!--<div style="margin: 100px;">ffff</div>-->
    <div style="margin-left: 25%">
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Community</h5>
                <div class="table-responsive">
                  <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">글번호</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">작성자</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">제목</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">카테고리</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">날짜</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">조회수</h6>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="commuBoard:${communityList}">
                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0" th:text="${commuBoard.postId}"></h6></td>
                        <td class="border-bottom-0">
                            <h6 class="fw-semibold mb-1" th:text="${commuBoard.userNickname}"></h6>
                            <span class="fw-normal"></span>
                        </td>
                        <td class="border-bottom-0"><a th:href="@{/community/read(postId=${commuBoard.postId},action='READ')}">
                          <p class="mb-0 fw-normal" th:text="${commuBoard.title}"></p>
                        </a>
                        </td>
                        <td class="border-bottom-0">
                          <div class="d-flex align-items-center gap-2">
                            <span th:text="${commuBoard.category}"></span>
                          </div>
                        </td>
                        <td class="border-bottom-0">
                          <h6 class="fw-semibold mb-0 fs-4" th:text="${#dates.format(commuBoard.updatedAt, 'yyyy-MM-dd')}"></h6>
                        </td>
                        <td class="border-bottom-0">
                          <h6 class="fw-semibold mb-0 fs-4" th:text="${commuBoard.viewCount}"></h6>
                        </td>
                      </tr>

                    </tbody>

                  </table>
                </div>
              </div>
            </div>
          </div>
    </div>
        </div>
  <div style="margin-left: 25%">
  <ul>
    <li><a href="/hollroom/community/list?category=all&page=0" class="page-link">전체목록조회</a></li>
  </ul>
  </div>
</div>
</body>

</html>