@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=ABeeZee:400");

:root {
  --black: #000000;
  --dove-gray: #6c6c6c;
  --gallery: #f0f0f0;
  --kokoda: #6b705c;
  --mercury: #e5e5e5;
  --tallow: #a5a58d;
  --white: #ffffff;

  --font-size-l: 24px;
  --font-size-m: 22px;
  --font-size-s: 18px;
  --font-size-xl: 28px;
  --font-size-xs: 14px;
  --font-size-xxl: 30px;
  --font-size-xxxl: 38px;

  --font-family-abeezee: "ABeeZee", Helvetica;
  --font-family-abeezee-italic: "ABeeZee-Italic", Helvetica;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  justify-content: center;
  flex-direction: row;
  pointer-events: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}

.container-center-horizontal > * {
  pointer-events: auto;
  display: flex;
  justify-content: center;
}

.clickable-box {
  cursor: pointer;
}

@media (max-width: 768px) {
  .container-center-horizontal {
    flex-direction: column;
  }
}

.profile-menu:visited, .profile-menu:active {
  color: inherit; /* 클릭한 후에도 기본 텍스트 색상 유지 */
}






