:root { 
  --black: #000000;
  --dove-gray: #6c6c6c;
  --kokoda: #6b705c;
  --mercury: #e5e5e5;
  --tallow: #a5a58d;
  --white: #ffffff;
 
  --font-size-l: 20px;
  --font-size-m: 18.7px;
  --font-size-s: 13.3px;
  --font-size-xl: 22px;
  --font-size-xxl: 26.7px;
  --font-size-xxxl: 38px;
 
  --font-family-abeezee: "ABeeZee", Helvetica;
  --font-family-gilda_display: "Gilda Display", Helvetica;
}
.abeezee-normal-black-18-7px {
  color: var(--black);
  font-family: var(--font-family-abeezee);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.abeezee-normal-dove-gray-22px {
  color: var(--dove-gray);
  font-family: var(--font-family-abeezee);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.abeezee-normal-white-18-7px {
  color: var(--white);
  font-family: var(--font-family-abeezee);
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 400;
}
