/* font style */

@font-face {
  font-family: "CWDangamAsac-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.font-eng {
  /* font-family: "Bauhaus 93", Impact, sans-serif; */
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  /* font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal; */
  font-family: "CWDangamAsac-Bold", sans-serif;
}

.font-kor {
  /* font-family: "Gowun Dodum", sans-serif; */
  /* font-family: "LG Smart UI Regular", sans-serif; */
  /* font-family: "LG PC", sans-serif; */
  /* font-family: "함초롱돋움", sans-serif; */
  font-family: "Noto Sans KR", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*@font-face {
  font-family: "Cafe24Moyamoya-Regular-v1.0";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/Cafe24Moyamoya-Regular-v1.0.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}*/

.font-kor-h {
  /* font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal; */
  /* font-family: "Cafe24Moyamoya-Regular-v1.0", serif; */
  font-family: "CWDangamAsac-Bold", sans-serif;
  font-size: 2.2em;
}

/* floating button */

.floating-btn > button {
  position: fixed;
  right: 2em;
  width: 3em;
  height: 3em;
  z-index: 20;
}

.floating-btn-1 {
  bottom: 2em;
}

.floating-btn-2 {
  bottom: 5.5em;
}

.floating-btn-3 {
  bottom: 9em;
}

.floating-btn-4 {
  bottom: 12.5em;
}

/* scrollbar style */

body::-webkit-scrollbar,
select::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  height: 30%;
  background: rgb(129, 195, 197);
  /* background: var(--bs-primary); */
  border-radius: 10px;
}

body::-webkit-scrollbar-track,
select::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1);
  /* background: var(--bs-light); */
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 3rem !important;
}

/* ------------------------ */

.my-select {
  height: 2rem;
  border: 1px solid #cccccc;
  outline: none;
  color: gray;
}

.my-input {
  border-width: 0 0 1px;
  border-color: #dddddd;
  line-height: 1em;
}

.my-input-s {
  width: 2em;
  text-align: center;
}

.my-input-l {
  background-color: var(--bs-light);
}

.my-input-s:focus,
.my-input-l:focus,
.my-input-title:focus,
.main-text:focus,
.input-login:focus,
.input-signup:focus {
  border-width: 0 0 1px;
  border-color: var(--bs-primary);
  /* // outline-color: 1px solid var(--bs-primary); */
  outline: none;
}

.input-login {
  margin-bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.8rem;
  width: 17rem;
  border-width: 0 0 1px;
  border-color: #dddddd;
  /* line-height: 2rem; */
  /* height: 2rem; */
  background-color: var(--bs-light);
  font-size: 1.1rem;
}

.input-signup {
  margin-bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.8rem;
  /* width: 20rem; */
  /* width: 100%; */
  width: 16.5rem;
  border-width: 0 0 1px;
  border-color: #dddddd;
  background-color: var(--bs-light);
  font-size: 1rem;
}

.input-introduce {
  resize: none;
  outline: none;
  width: 16.5rem;
  height: 5rem;
  /* overflow: auto; */
  padding-left: 0.7rem;
  padding-top: 0.4rem;
  border-width: 0 0 1px;
  border-color: #dddddd;
  background-color: var(--bs-light);
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

text-center-imp {
  text-align: center !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mr-5 {
  margin-right: 3rem !important;
}

.boarder-red {
  border: 1px solid red;
}

.boarder-blue {
  border: 1px solid blue;
}

.r-0 {
  right: 0;
}
